html, body,
.body {
  background: #e4e5ea;
  background-color: #e4e5ea;
}

.header {
  background: $primary-color;
  background-color:  $primary-color;

  .columns {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    .logo-white {
      width: 128px;
    }
    .logo-user {
      // padding-bottom: 20px;
      width: 30px;
    }
  }
}

.sub-header {
  background: #d65600;  
  background-color: #d65600;
  .columns {
    padding-bottom: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top: 5px !important;
    color: white;
    a {
      color: white;
      font-size: 14px;
      font-weight: 700;
      .thumb {
        width: 20px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
        
      }
    }
    .menu-divider {
      display:block; 
      height: 20px; 
      width: 1px; 
      background:#e86c1e; 
      background-color: #e86c1e;
    }
    th {
      text-align: center;
    }
    
  }

}

.deal_of_day {
  background:#13191f;
  background-color: #13191f;

  .columns {
    th {
      padding-top: 30px !important;
      padding-bottom: 20px !important;
    }
  }
  img {
    padding-bottom: 20px;
  }


  h2 {
    color: white;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
  }
  p {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 20px;
  }
  span {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
    display: block;
    &.save_amount {
      font-size: 14px;
    }
    &.tiny_info {
      font-size: 10px !important;
      font-weight: 300;
      padding-bottom: 10px !important;
    }
    &.price {
      font-size: 20px;
      font-weight: 600 !important;
      padding-bottom: 10px !important;
    }
  }
  .button {

      color: white;
      font-weight: 600 !important;
      

    display: block;
    margin: 0 auto;
    width: 150px !important;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    &:hover {
      color: $primary-color;
    }
  }
  
}

.content_area {
  
  background: #f4f1f7;
  background-color: #f4f1f7;
  & > tbody > tr > th {
    padding-top: 16px;
  }

  .offer {
    background: #ffffff;
    background-color: #ffffff;
    
    
    .columns {
      // color: black;
      th {
        padding-top: 20px;
        padding-bottom: 20px ;
        padding-left: 20px ;
        padding-right: 20px ;
      }
      & > table {
        table-layout: fixed;
        max-width: 560px;
      }
    }
    img {
      padding-bottom: 20px;
    }


    h2 {
      color: #334755;
      font-weight: 900;
      font-size: 30px;
      text-align: center;
      padding-bottom: 20px;
    }
    p {
      text-align: center;
      color: #334755;
      font-weight: 600;
      font-size: 16px;
      padding-bottom: 20px;
    }
    span {
      text-align: center;
      color: black;
      font-weight: 600;
      font-size: 16px;
      display: block;
      &.save_amount {
        font-size: 14px;
        color: #1a88f3;
      }
      &.tiny_info {
        color: #334755;
        font-size: 10px !important;
        font-weight: 600 !important;
        padding-bottom: 10px !important;
      }
      &.price {
        font-size: 20px;
        font-weight: 600 !important;
        padding-bottom: 10px !important;
        color: #334755;
      }
    }
    .button {
      color: white;
      // margin-right: 30px !important;
      display: block;
      margin: 0 auto;
      background-color: #13191f !important;
      background:  #13191f !important;;
      width: 150px !important;
      text-align: center; 
      padding-top: 7px  !important;
      padding-bottom: 7px !important;
      border: 1px solid black;
      border-radius: 3px;
      &:hover {
        color: $primary-color;
      }
    } 

  }

}

.last_offer {
  .group_icons {
    width: 190px;
    display: block;
    margin: 0 auto;
    padding-bottom: 0 !important;
  }

  h4 {
    text-align: center;
    font-size: 16px !important;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .tiny_info  {
    text-align: center !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    padding-bottom: 10px;
  }
}
