html, body,
.body {
  background: #e4e5ea;
  background-color: #e4e5ea;
}

.header {
  background: #e86c1e;
  background-color:  #e86c1e;  

  .columns {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    .logo-white {
      width: 128px;
    }
    .logo-user {
      // padding-bottom: 20px;
      width: 30px;
    }
  }
}

.sub-header {
  background: #d65600;  
  background-color: #d65600;
  .columns {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    a {
      color: white;
      // font-size: 12px;

    }
  }

}
