<container>
  <row class="footer-top">
    <columns small="6" large="6">
      <row class="georges">
        <columns small="3"large="2">
          <img src="{{root}}/assets/img/logo_circle.png" class="circle-logo" alt="">
        </columns>
        <columns small="9"large="9" class="info-section">
        <span class="call-to-action">Download the app</span>
        <span class="info">Cheap flights, hotels & more</span>
        </columns>
      </row>
    </columns>
 
    <columns small="6" large="6" class="store-logos">
    <row>
      <columns large="6" >
        <img src="{{root}}/assets/img/appstore.png" class="appstore"alt="">      </columns>
      <columns large="6">
        <img src="{{root}}/assets/img/playstore.png" class="playstore"alt="">      </columns>
    </row>
  </columns>
  </row>
</container>

<container>
  <row class="footer-social">
    <columns class="logo-section" large="9">
      <img src="{{root}}/assets/img/logo_orange.png" alt="">
    </columns>
    <columns large="3">
      <row class="social-icons">
        <columns>
          <img src="{{root}}/assets/img/facebook.png" alt="">
        </columns>
        <columns>
          <img src="{{root}}/assets/img/twitter.png" alt="">
        </columns>
        <columns>
          <img src="{{root}}/assets/img/instagram.png" alt="">
        </columns>
      </row>
    </columns>
  </row>
</container>